body {
    background-color: rgb(231, 231, 231);
}

h1 {

    color: rgb(245, 54, 54);
}

h4 {
    margin-top: auto;
}

#container {
    font-family: sans-serif;
    background-color: white;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50px;
    max-width: 800px;
    margin: auto;
    box-shadow: 10px 10px 20px rgb(88, 88, 88);
}

#options {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 145px;
}

#length {
    font-size: 0.7em;
    width: 100px;
    text-align: center;
}

button {
    font-size: 0.7em;
    font-weight: bold;
    background-color: rgb(213, 41, 41);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: rgb(235, 111, 111);
}

button:active {
    background-color: rgb(219, 81, 81);
}
