body {
    background-image: url(Images/MoonKnight.jpg);

    /*image applied to whole background*/
    background-size: cover;

    /*No redundant images*/
    background-repeat: no-repeat;

    /*Image will be fixed to background*/
    background-attachment: fixed;

    margin: 0;
}
#clockContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 900px;
    margin-left: 200px;    
}
#clock {
    font-family: cursive;
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    background-color: lab(79.66% 12.62 42.64 / 0.421);
    width: 100%;
}