body{
    background-color: rgb(30, 32, 44);
}
.slider {
    border-radius: 40px;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(44, 47, 63);
}

.slider img {
    width: 80%;
    height: 650px;
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid;
    border-color: white;
    border-radius: 40px;
}

img.displaySlide {
    margin-left: 120px;
    display: block;
    animation-name: fade;
    animation-duration:2s ;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    border: none;
    background-color: rgb(206, 206, 218);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.slider button:hover {
    background-color: rgb(177, 177, 177);
}

.previous {
    margin-left: 30px;
    left: 0;
}

.next {
    margin-right: 30px;
    right: 0;
}

@keyframes fade {
    from{opacity: .7;}
    to{opacity: 1;}
}